  <div class="main-box">
    <div class="title">
        <label>Upload Video (MP4 format, max 2MB):</label>
    </div>
    <div class="file-uploader">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <app-file-upload formControlName="file"></app-file-upload>
            <div class="error-message" *ngIf="errorMessageStatus">
                <p>{{errorMessage}}</p>
            </div>
            <div class="submit">
                <button mat-raised-button type="submit" color="primary" >Upload</button>
            </div>
        </form>
    </div>
  </div>
