.split {
  height: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
  width: 95%;
  padding-top: 70px;
  background-color: white;
}

.app-sidenav {
  height: 100%;
  width: 70px;
  background-color: rgb(33, 142, 243);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  .app-menu {
    padding-left: 0;

    li {
      color: white;
      border-radius: 0;
      height: 50px;
      cursor: pointer;
      list-style-type: none;

      span {
        padding: 11px;
        padding-left: 18px;
      }
    }

    li.active {
      border-left: 4px solid white;
    }
  }
}